@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
html{height:100%;}
body 
{
  display:grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: minmax(min-content,max-content) max-content auto;
  grid-template-areas:
    'sidebar name name name name name'
    'sidebar . mid mid mid .'
    'sidebar . footer footer footer .';
  background-color: #141414;
  background-image:url('./bg.jpg');
  background-size:110% 110%;
  background-repeat: repeat;
  margin:0; padding:0;
  overflow-x: hidden;
  font-family: 'Lato', Helvetica, arial, sans-serif;
  font-weight: 300;
  height:100%;
  color: rgba(255, 254, 239, 0.85);
}
h1 
{
  grid-area: name;
  text-align: center;
  margin-bottom:20px;
  font-size: 100px;
  font-weight: 100;
  text-transform: uppercase;
  overflow:hidden;
}
#subtext
{
  text-transform:none;
  font-size: 35px;
  font-weight: 300;
  line-height: 1.5;
}
#middletext
{
  grid-area:mid;
  max-width:100%;
  padding: 1rem;
  text-align: left;
  font-size: 20px;
}
#job{
  grid-area: footer;
  text-align: center;
  padding:none;
  font-size:35px;
}
#menu
{
  grid-area: sidebar;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  transition: 1s;
  width: 0%; /* Set the width of the sidebar */
  position: relative; /* Fixed Sidebar (stay in place on scroll) */
  overflow: hidden; /* Disable horizontal scroll */
  background:#1f1f1f;
  font-family: 'Lato', Helvetica, arial, sans-serif;
  box-shadow: 0 0px 20px 0 rgba(0,0,0,0.3),
    0 0px 15px 0 rgba(255, 254, 239, 0.10);
}
#idx{display:flex; justify-content: center;}
#me
{
  border-radius: 100px;
  max-width: 200px;
  margin-bottom: -1vw;
  margin-top:1vw;
}
#menu h1
{
    text-align: center;
    margin-top: .5em;
    margin-bottom: 1vh;
    color: #999999;
    font-size:40px;
    overflow:visible;
}
#menu p
{
    text-align: left;
    margin-left: 5%;
    font-weight:100;
    margin-top: .5em;
    margin-bottom:.5em;
    color: #999999;
    font-size: 25px;
}
#links
{
    text-align:left;
    display:block;
    padding:0;
    list-style-type:'▢  ';
    margin-left:15%;
    font-size: 15px;
}
#links li a
{
    font-size: 15px;
    font-weight:300;
    text-decoration:none;
    color:#999999;
}
#other-links{
  position: absolute;
  list-style: none;
  font-weight:100;
  padding:0;
  margin-top:0;
  margin-left:5%;
  }
#other-links li{margin-bottom:10%;}
#other-links li a{
    position:relative;
    border-bottom:dashed #999999  1px;
    color:#999999;
    font-size:30px;
    font-weight:100;
    text-decoration:none;
}
#spotify
{
  display:none;
  position:absolute;
  border-radius: .5vw;
  width: 15vw;
  height: 8.3vh;
  bottom: 8vh;
  box-shadow: 0 0px 30px 0 rgba(0,0,0,0.11),
    0 0px 10px 0 rgba(248, 248, 248, 0.150); 
}
#ko-fi
{
    display:flex;
    justify-content: left;
    position: absolute;
    border-bottom:dashed #999999  1px;
    color:#999999;
    font-weight:100;
    font-size:30px;
    bottom:2vh;
    margin-left:5%;
    text-decoration: none;
}